.form__submit_theme_dark {
  margin-top: 216px;
  background-color: rgb(255, 255, 255, 1);
  color: #000;
}

@keyframes hover {
  from {
    background-color: rgba(255, 255, 255, 1);
  }

  to {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
